<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
class="img-fluid" alt="Sample image"> <br>
<table class="table table-hover">
    <thead>
        <tr>
            <td> User Name </td>
            <td> User Role </td>
            <td> User Email </td>
            <button (click)="getUser()" class="btn btn-danger"> show proflie</button> 
            <td></td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let users of user">
            <td>{{ users.username }}</td>
            <td>{{ users.role }}</td>
            <td>{{ users.email }}</td>
            <td><button (click)="deleteUser(users)" class="btn btn-danger"> Delete</button></td>
            <td><button (click)="updateUser(users)" class="btn btn-primary"> Edit</button></td>
        </tr>
        <a class="nav-link" routerLink="/register">Add data</a><br>
        <a class="nav-link" routerLink="/group">Group</a>
    </tbody>
</table>